* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}
img:hover {
  transform: rotateZ(360deg);
  transition: 1s;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #21222a;
  padding: 20px 25px;
}

.navbar > h1,
.navbar > h3 {
  margin: 0;
}

.navbar > h1 {
  margin-right: auto;
  color: #61dafb;
  font-weight: 800;
  font-size: 30px;
}

.navbar > img {
  margin-right: 15px;
  color: #61dafb;
  width: 70px;
}

.navbar > h3 {
  color: #deebf8;
  font-size: 15px;
}

main {
  margin: 0;
  background-color: #282d35;
  height: 100vh;
  padding: 20vh 5vh 0 30vh;
  font-family: Inter, sans-serif;
  font-size: large;
}

.main {
  color: whitesmoke;
}

main > ul {
  margin-top: 46px;
  letter-spacing: -0.5px;
  font-weight: bold;
  font-size: medium;
}

main > ul > li {
  padding-block: 10px;
  max-width: 300px;
}

main > ul > li::marker {
  font-size: 1.7rem;
  color: #61dafb;
}

/* Fixing BackGround Image  */

main {
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 40vh;
}

@media screen and (max-width: 435px) {
  .navbar {
    flex-direction: column;
    height: 28vh;
  }
  .navbar > h1 {
    font-size: 3rem;
    margin-left: 1.5rem;
  }
  img:hover {
    transform: rotateZ(360deg);
    transition: 1s;
  }
  main {
    height: 100vh;
    padding: 5vh 0 0 5vw;
  }
}
